.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1rem 0 1rem 0;

}
.card-location {
    border: 1px solid black;
border-radius: 0.5em;
background-color: var(--bg-card);
max-width: 330px;
height: 150px;
text-align: center;
box-shadow: 1px 1px 5px;



}
.name-location{
    padding: .5rem 0 .5rem 0;
    color: #7ab824;
    
}
.list-location{
    display: flex;
    justify-content: space-around;
    
}
.item-location{
    color: white;
    font-weight: bold;
    margin: 0 1rem 0 1rem;
}
.names-items{
    color: gray;
    font-weight: 400;
}